/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2E3440FF;
    background-alt: #434c5e;
    foreground:     #d8dee9;
    selected:       #4c566a;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
}
